<% include header.ejs %>

  <div class="container-fluid container">
        <div class="page-header">
          <h1><%= title %></h1>
        </div>
        <p></p>
        <div class="row">  
          <div class="col-lg-6">
            <a href="/products">
              <button type="button" class="btn btn-sm btn-danger">Voltar</button>
            </a>
          </div>
        </div>
        <p></p>
          <div class="row">        
            <% for(var i=0; i<categories.length; i++) {%>
               <div class="col-md-3 col-sm-6 col-xs-6" style="text-align:center;height:200px;">
                  <a href="/products/sub-categorie/<%=categories[i].id %>">
                    <img class="img-thumbnail" style="height:100px"src="<%=categories[i].imagem %>">
                    <h5>
                      <%=categories[i].descricao %>
                    </h5>
                  </a>
               </div>
            <% } %>
          </div>
        <p></p>
          <div class="row">  
            <div class="col-lg-6">
              <a href="/products">
                <button type="button" class="btn btn-sm btn-danger">Voltar</button>
              </a>
            </div>
          </div>
          <p></p>
   </div>
   
<% include footer.ejs %>