<% include header.ejs %>

  <div class="container-fluid container">
      <h1><%= title %></h1>
          <div class="row">        
               Olá... bem vindo ao sistema de comandas online
          </div>
   </div>
   
<% include footer.ejs  %>